@import '../../styles/variables';

.header {
    background-color: $primary-color;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 2rem 6rem;
}

.menu__item {
    display: inline-flex;
    align-items: center;
}

.menu__cart-icon {
    margin-right: 0.5rem;
    font-size: 1.333rem;
}

.menu__count {
    position: absolute;
    background: $accent-color;
    color: $light-color;
    border-radius: 50%;
    padding: 2px 8px;
    margin: 0 10px 16px;
}