@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import '../styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: $light-color;
  color: $light-color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {
  font-size: 2.369rem;
  color: $text-color;
   /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

.container {
  margin: 0 8rem;
}

.button {
  transition: ease-in .1s;
  background: $primary-color;
  color: $light-color;
  outline: none;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px 3px rgba($accent-color, .5);
}

.main-page {
  margin-top: 15vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}